<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="footer_box col_1">
          <h3 class="footer_head">Twitter feed</h3>
          <p class="date">12 Oct</p>
          <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deserunt repellat soluta iste, vero labore, non. Suscipit eaque vero vel repellat harum earum eligendi possimus quas? Tenetur commodi, nam fuga.</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="footer_box">
          <h3 class="footer_head">Twitter feed</h3>
          <div class="col_2">
            <a href="">home</a>
            <a href="">home</a>
            <a href="">home</a>
            <a href="">home</a>
            <a href="">home</a>
            <a href="">home</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="footer_box">
          <h3 class="footer_head">Twitter feed</h3>
          <div class="col_3">
            <div class="col_3_big">
              <a href="#"><img src="/images/social/Twitter.png" alt=""></a>
              <a href="#"><img src="/images/social/Facebook.png" alt=""></a>
              <a href="#"><img src="/images/social/Google+.png" alt=""></a>
            </div>
            <div class="col_3_small">
              <a href="#"><img src="/images/social/Vimeo.png" alt=""></a>
              <a href="#"><img src="/images/social/Youtube.png" alt=""></a>
              <a href="#"><img src="/images/social/Flickr.png" alt=""></a>
              <a href="#"><img src="/images/social/Instagram.png" alt=""></a>
              <a href="#"><img src="/images/social/RSS.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="footer_box copy_box">
          <div class="footer_logo">
            <img src="/images/Logofooter.png" alt="">
          </div>
          <p class="copyright">Copyright © 2012 Whitesquare. A <a  href="#">pcklab</a> creation</p>
        </div>
      </div>
    </div>
  </div>
</footer>